
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.node:hover{
  cursor: pointer;
}

.label{
  font-size: 1rem;
  font-weight: 600;
}

.node{
  stroke: white;
  stroke-width: 2px;
}

.node:hover{
  stroke: yellow;
}

.segment{
  stroke: white;
  stroke-width: 2px;
}